{% extends "base.html.twig" %}

{%  block head %}
    {{ parent() }}
    <link href="/styles/main_page_styles.css" rel="stylesheet">
{% endblock %}

{% block title %}Don Corleine{% endblock %}


{% block avatar %}
    {% if user.getAvatarPath() is not null %}
        <img class="user-icon" src="{{ user.getAvatarPath() }}" alt="Icon">
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block add_button %}
    {% if user.getRoles() is same as('ROLE_ADMIN') %}
        <a class="add-button" href="/add_pizza">Новая пицца</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% include "main_page/main_page_content.html.twig" with [pizzas, user] %}
    <a class="basket__link" href="/basket">
        <img class="basket" src="/images/cart.png" alt="Cart">
    </a>

{% endblock %}