.add_form {
    margin-inline: auto;
    margin-top: 70px;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: paleturquoise
}

.submit-button {
    margin-top: 20px;
}