@font-face {
    font-family: Godfather;
    src: url(godfather.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

.header {
    display: flex;
    position: fixed;
    background-color: whitesmoke;
    padding-block: 10px;
    padding-inline: 60px;
    box-shadow: 0 10px 10px lightgray;
    width: 100%;
    margin-bottom: 20px;
    top: 0;
}

.logo {
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.logo:active {
    transform: scale(0.96);
}

.logo-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    user-select: none;
}

.logo-text {
    font-family: Godfather, sans-serif;
    font-size: 60px;
    font-weight: 400;
    user-select: none;
    letter-spacing: 1px;
    color: darkred;
}

.menu {
    display: flex;
    justify-content: space-around;
    column-gap: 40px;
    margin-inline: auto 40px;
}

.menu__item {
    list-style: none;
    font-family: sans-serif;
    margin-block: auto;
}

.menu__item:active {
    transform: scale(0.96);
}

.menu__link {
    text-decoration: none;
    color: black;
}

.job-button {
    margin-block: auto;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    background-color: #EFEFEF;
    text-decoration: none;
    color: black;
}

.job-button:active {
    transform: scale(0.96);
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-block: auto;
}

:root {
    --main-color: #8B0000FF;
    --light-color: #F8F8F8;
    --block-margin-bottom: 20px;
    --main-color-light: #8B00000A;
}

