@font-face {
    font-family: Godfather;
    src: url(godfather.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: var(--light-color);*/
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    padding-block: 10px;
    padding-inline: 60px;
    box-shadow: 0 5px 10px lightgray;
    width: 100%;
    margin-bottom: 100px;
    background-color: white;
}

.logo {
    display: flex;
}

.logo-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.logo-text {
    font-family: Godfather, sans-serif;
    font-size: 60px;
    font-weight: 400;
    user-select: none;
    letter-spacing: 1px;
    color: var(--main-color);
}

.menu {
    display: flex;
    justify-content: space-around;
    column-gap: 40px;
    margin-inline: auto 40px;
}

.menu__item {
    list-style: none;
    font-family: sans-serif;
    margin-block: auto;
}

.menu__item:active {
    transform: scale(0.96);
}

.menu__link {
    text-decoration: none;
    color: black;
}

.job-button {
    margin-block: 15px;
    border-radius: 20px;
    border: none;
    padding-inline: 20px;
    font-size: 16px;
    cursor: pointer;
}

.job-button:active {
    transform: scale(0.96);
}

.content {
    display: flex;
    gap: 70px 50px;
    width: 920px;
    margin: 150px auto 200px;
    flex-wrap: wrap;
}

.content-block {
    width: 240px;
    height: 430px;
    border-radius: 10px;
    font-family: sans-serif;
    background-color: white;
}

.content-block__image {
    display: block;
    width: 165px;
    height: 165px;
    margin-inline: auto;
    margin-bottom: var(--block-margin-bottom);
}

.content-block__info {
    padding: 15px;
}

.content-block__title {
    font-family: "Dodo Rounded", sans-serif;
    font-size: 28px;
    margin-bottom: var(--block-margin-bottom);
}

.content-block__description {
    height: 95px;
}

.content-block__weight {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: calc(var(--block-margin-bottom) - 10px);
}

.content-block__order-area {
    display: flex;
}

.content-block__button {
    background-color: var(--main-color);
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    color: var(--light-color);
    font-size: 18px;
}

.content-block__button:active {
    transform: scale(0.96);
}

.content-block__price {
    font-size: 24px;
    font-weight: 600;
    margin-inline: auto 0;
    margin-block: auto;
}

:root {
    --main-color: darkred;
    --light-color: #F8F8F8;
    --block-margin-bottom: 20px;
}

