.users {
    margin-top: 70px;
    max-width: 700px;
    margin-inline: auto;
}

.users thead {
    text-align: center;
    background-color: lightgreen;
}

td:last-child {
    opacity: 80%;
    text-align: center;
    text-decoration: none;
}

.delete-icon {
    height: 25px;
    width: 25px;
}

.delete-icon:active {
    transform: scale(0.8);
}