<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}Don Corleon{% endblock %}</title>
        <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
        <link rel="icon" href="/images/pizza_icon.png">
        <link href="/styles/base_styles.css" rel="stylesheet">
    {% endblock %}
</head>

<body>
    <header class="header">
        {% block header %}
            <a href="/main_page" class="logo">
                <img class="logo-img" src="/images/pizza_icon.png" alt="Icon">
                <p class="logo-text">Don Corleone</p>
            </a>
            <ul class="menu">
                <li class="menu__item"><a class="menu__link" href="https://clck.ru/3BYtXu">Акции</a></li>
                <li class="menu__item"><a class="menu__link" href="https://clck.ru/3BYtXu">Доставка</a></li>
                <li class="menu__item"><a class="menu__link" href="https://clck.ru/3BYtXu">О нас</a></li>
            </ul>
            {% block add_button %}{% endblock %}
            <a href="/logout" class="job-button">Выйти</a>
            {% block avatar %}
                <img class="user-icon" src="/images/pepperoni.png" alt="Icon">
            {% endblock %}
        {% endblock %}
    </header>

    <main class="main">
         {% block content %}{% endblock %}
    </main>
</body>
</html>
