{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
    <link href="/styles/delete_page_styles.css" rel="stylesheet">
{% endblock %}

{% block title %}Пользователь удален{% endblock %}

{% block delete_page %}
    <div class="info">
        <h1>Пользователь успешно удален</h1>
        <a href="/all_users">Вернуться на главную страницу</a>
    </div>
{% endblock %}