<a href="/main_page" class="logo">
    <img class="logo-img" src="/images/pizza_icon.png" alt="Icon">
    <p class="logo-text">Don Corleone</p>
</a>
<ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#">Акции</a></li>
    <li class="menu__item"><a class="menu__link" href="#">Доставка</a></li>
    <li class="menu__item"><a class="menu__link" href="#">О нас</a></li>
</ul>
<a href="/" class="job-button">Выйти</a>
<img class="user-icon" src="/images/pepperoni.png" alt="Icon">
