{% extends "base.html.twig" %}

{%  block head %}
    {{ parent() }}
    <link href="/styles/add_user_form_styles.css" rel="stylesheet">
{% endblock %}


{% block content %}
    {% if error %}
        <div>
            {{ error.meassageKey | trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    {% include "add_user/add_user_form.html.twig" %}
{% endblock %}