<form action="/user_upload" class="form" method="POST" enctype="multipart/form-data">
    <div class="form__input-block">
        <h2 class="form__title">Вход на сайт</h2>

        <div class="form__input-field">
            <label class="form__label" for="name">Имя</label>
            <input class="form__input" type="text" id="name" name="name">
        </div>

        <div class="form__input-field">
            <label class="form__label" for="last-name">Фамилия</label>
            <input class="form__input" type="text" id="last-name" name="last_name">
        </div>

        <div class="form__input-field">
            <label class="form__label" for="email">Email</label>
            <input class="form__input" type="text" id="email" name="email">
        </div>

        <div class="form__input-field">
            <label class="form__label" for="phone">Номер телефона</label>
            <input class="form__input" type="text" id="phone" name="phone">
        </div>

        <div class="form__input-field">
            <label class="form__label" for="password">Пароль</label>
            <input class="form__input" type="password" id="password" name="password">
        </div>

        <button class="form__sign-in-button">Войти</button>
    </div>

    <div class="form__avatar-area">
        <label class="form__avatar" for="avatar">
            <img class="form__avatar-img" src="/images/pepperoni.png" alt="Avatar">
            <p class="form__avatar-button">Загрузить аватар</p>
        </label>
        <input class="form__avatar-input" type="file" id="avatar" name="avatar_path">
    </div>
</form>