<form action="/thanks" class="form" method="POST" enctype="multipart/form-data">
    <div class="form__input-block">
        <h2 class="form__title">Заказ</h2>

        <div class="form__input-field">
            <label class="form__label" for="city">Город</label>
            <input class="form__input" type="text" id="city" name="city">
        </div>

        <div class="form__input-field">
            <label class="form__label" for="street">Улица</label>
            <input class="form__input" type="text" id="street" name="street">
        </div>

        <div class="form__input-field">
            <label class="form__label" for="house">Дом</label>
            <input class="form__input" type="text" id="house" name="house">
        </div>

        <div class="form__input-field">
            <label class="form__label" for="flat">Квартира</label>
            <input class="form__input" type="text" id="flat" name="flat">
        </div>

        <button class="form__sign-in-button">Заказать</button>
    </div>

    <div class="form__avatar-area">
        <label class="form__avatar" for="avatar">
            <img class="form__avatar-img" src="{{ pizza.getPizzaImage() }}" alt="Avatar">
            <p class="form__avatar-name">{{ pizza.getPizzaName() }}</p>
        </label>
    </div>

</form>