{% extends "base.html.twig" %}

{%  block head %}
    {{ parent() }}
    <link href="/styles/form_styles.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <form class="form">
        <p class="thanks-string">Thank you for order!</p>
    </form>
{% endblock %}