{% extends 'base.html.twig' %}

{%  block head %}
    {{ parent() }}
    <link href="/styles/form_styles.css" rel="stylesheet">
    <link href="/styles/error_styles.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="error">
        <h1 class="error__title">Error {{ error.getStatusCode() }}</h1>
        <p class="error__message">{{ error.getMessage() }}</p>
    </div>
{% endblock %}